<h2>Posts</h2>
<li [ngClass]="{'list-group-item': true,
              'list-group-item-success': loveIts > 0,
              'list-group-item-danger': loveIts < 0}">
  <app-post-list-component *ngFor="let blogArticles of blogArticles"
                           [articleTitle]="blogArticles.title"
                           [articleContent]="blogArticles.content"
                           [articleLoveIt]="blogArticles.loveIts"
                           [articleDate]="blogArticles.date">

  </app-post-list-component>

</li>
